<md-bottom-sheet class='md-padding background'>
    <div layout="row" layout-align="center center" ng-cloak>
        <md-list>
            <md-list-item>
                <h5>For more information, please call Chris Barney (Vice President of Premium Seating and VIP Services) at </h5><br />
                <h4><md-button class="md-accent"><b>801.325.2323</b></md-button></h4>
            </md-list-item>
            <md-list-item layout='column' layout-gt-sm="row">
                <h1>Follow us on:</h1>

                <md-icon>

                    <md-button><i class="material-icons-dark">Facebook</i></md-button>
                </md-icon>
                <md-icon>

                    <md-button><i class="material-icons-dark">Twitter</i></md-button>
                </md-icon>
                <md-icon>

                    <md-button><i class="material-icons-dark">Instagram</i></md-button>
                </md-icon>
                <md-icon>

                    <md-button><i class="material-icons-dark">Youtube</i></md-button>
                </md-icon>

            </md-list-item>
        </md-list>


    </div>
</md-bottom-sheet>
