<md-card flex-gt-sm="70" flex-offset-gt-sm="15" flex-xs layout="column" layout-align="center center" layout-margin>
	<h1>Hi!</h1>
	<h2>Welcome to the jazz-preview page!</h2>
	<p>This was a front-end project done as part of an interview request.</p>
	<p>below is a list of languages and frameworks used to create this site:</p>
	<ul>
		<li>AngularJS</li>
		<li>Angular Material</li>
		<li>UI Bootstrap</li>
		<li>UI Router</li>
		<li>Node.Js</li>
		<li>and of course Javascript, HTML &amp; CSS</li>
	</ul>
</md-card>
