<md-toolbar layout="column" flex class="md-hue-2 md-whiteframe-6dp">

    <div class="md-toolbar-tools">

        <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="Settings" hide-gt-sm>
            <md-icon class="material-icons">menu</md-icon>
        </md-button>

        <a class="utahJazz logos sprite" href="/"></a>

        <md-nav-bar hide-sm hide-xs flex layout="column" layout-align="end end" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-click="goto('#/')" mdNavHref="#/" name="Tickets" md-ink-ripple="#2d5235">
                <md-tooltip md-direction="bottom">
                    Tickets
                </md-tooltip>
                <i class="material-icons light">event_seat</i></md-nav-item>

            <md-nav-item md-nav-click="goto('page2')" md-ink-ripple="#2d5235">
                <md-tooltip md-direction="bottom">
                    Schedule
                </md-tooltip>
                <i class="material-icons md-light">today</i>
            </md-nav-item>
            <md-nav-item md-nav-click="goto('page3')" md-ink-ripple="#2d5235">
                <md-tooltip md-direction="bottom">
                    Team
                </md-tooltip>
                <i class="material-icons">recent_actors</i>

            </md-nav-item>
            <md-nav-item md-nav-click="goto('page4')" md-ink-ripple="#2d5235">
                <md-tooltip md-direction="bottom">
                    Fans
                </md-tooltip>
                <i class="material-icons md-light">thumb_up</i md-ink-ripple="#2d5235">

            </md-nav-item>
            <md-nav-item md-nav-click="goto('page5')" md-ink-ripple="#2d5235">
                <md-tooltip md-direction="bottom">
                    Video
                </md-tooltip>
                <i class="material-icons">theaters</i>

            </md-nav-item>
            <md-nav-item md-nav-click="goto('page6')" md-ink-ripple="#2d5235">
                <md-tooltip md-direction="bottom">
                    Game Night
                </md-tooltip>
                <i class="material-icons">cast_connected</i>

            </md-nav-item>
            <md-nav-item md-nav-click="goto('page7')" md-ink-ripple="#2d5235">
                <md-tooltip md-direction="bottom">
                    Community
                </md-tooltip>
                <i class="material-icons">supervisor_account</i>

            </md-nav-item>
            <md-nav-item md-nav-click="goto('page8')" md-ink-ripple="#2d5235">
                <md-tooltip md-direction="bottom">
                    Shop
                </md-tooltip>
                <i class="material-icons">shopping_cart</i>

            </md-nav-item>

            <form>
                <md-input-container class='md-accent md-hue-1'>
                    <label class='md-accent md-hue-1' for="Search">Search</label></label>
                    <input class='md-accent md-hue-1' type="text" id="Search" ng-model="data" md-autofocus>
                </md-input-container>
            </form>
        </md-nav-bar>

</md-toolbar>
