body {
    background: url(photos/suites/Jazz-Food-066.jpg) no-repeat center center fixed;
    background-size: cover;
}

md-content {
    background-color: transparent !important;
}

md-nav-item:hover {
    background-color: white;
    border: 1px solid #F89f1f;
}

md-tabs, input {
    background-color: white !important;
}

md-tab {
    color: #2d5235;
}

.background {
    background-color: white;
    height: 45%;
}

.material-icons {
    color: white;
}

.material-icons-dark {
    color: #0D223F;
}

.md-padding {
    margin: 0px 25px;
}

.nav-title {
    position: relative;
    display: inline;
    align-items: center;
    padding-left: 5px;
    padding-bottom: 5px;
}

.nav-icon {
    padding-bottom: -10px;
}

.carousel img {
    width: auto;
    height: 350px;
    horizontal-align: middle;
    position: relative;
    background-position: 50% 50%;
    background-size: cover;
}

.card-header {
    color: #2d5235;
}

.contact-us {
    color: white;
    position: fixed;
    right: 0;
    bottom: 0;
}

.sprite {
    background: url('./logos/JAZ1617_LogoSheet_RGB_MktgGameOps-0.png') no-repeat 0 0;
    width: 160px;
    height: 60px;
    background-size: 1000% 1400%;
}

.utahJazz {
    background-position: -1048px -100px;
}

.utahJazz a:hover {
    object-position: -1000px -100px;
}

.md-headline {
    font-size: 2em;
    color: #0D223F;
}

.toolbar {
    margin-right: 12px;
}


}
